# Local build binaries
node-cli/node-cli
*.pyc
/build/*
/certificate-network/bin
/certificate-network/network/channel-artifacts
/certificate-network/network/crypto-config
/academy-app/package-lock.json
/academy-app/node_modules
/academy-app/wallet/admin
/student-app/package-lock.json
/student-app/node_modules
/student-app/wallet/admin
.idea
*.iml
.DS_Store
tags
.tags
.vagrant/
/build
# Emacs backup files
*~
*#
.#*
# bddtest log files
*.log
# bddtest coverage files
bddtests/coverage
*.cov
# Makefile dummy artifacts
.*-dummy
# go-carpet output files
go-carpet-coverage*
# make node-sdk copied files
sdk/node/lib/protos/*
