# Local build binaries
node-cli/node-cli
*.pyc
/build/*
/certificate-network/bin
/certificate-network/network/channel-artifacts
/certificate-network/network/crypto-config
web-app/package-lock.json
web-app/academy/node_modules
web-app/academy/wallet
web-app/student/node_modules
web-app/student/wallet
.idea
*.iml
.DS_Store
tags
.tags
.vagrant/
/build
# Emacs backup files
*~
*#
.#*
# bddtest log files
*.log
# bddtest coverage files
bddtests/coverage
*.cov
# Makefile dummy artifacts
.*-dummy
# go-carpet output files
go-carpet-coverage*
# make node-sdk copied files
sdk/node/lib/protos/*
